node_modules
npm-debug.log
dist
debug.log
.env
vendor
.idea
.DS_Store
*.swp
*.swo
*.bak
*.tmp
coverage
storage/*.key
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
